In [6]:
def pow1(x) :
    return x ** 2

a=4
b=pow1(a)
print(b)

16

In [7]:
pow2=lambda x : x ** 2

a=pow2(3)
print(a)

9

In [ ]:
# 키를 설정해서 정렬, revers는 생략 가능 생략시 False가 기본값
sorted(정렬하려는 배열, key=키가 되는 함수, revers = True 또는 False)

In [9]:
a=4

def func1(x) :
    return 2 * x**2 - 3*x + 1

func2=lambda x : 2 * x**2 - 3*x + 1

print(func1(a))
print(func2(a))

21
21

In [11]:
add1 = lambda x,y : x + y

print((lambda x,y : x + y)(3,5))

8

In [12]:
x=5
y=6
z=2

def func3(x,y,z) :
    return x * y + z

func4=lambda x, y, z : x * y + z

print(func3(x,y,z))
print(func4(x,y,z))

32
32

In [18]:
def lower_three1(x) :
    if x < 3 :
        return x * 2
    else :
        return x/3 + 5

print(lower_three1(2))

4

In [17]:
lower_three2 = lambda x : x * 2 if x < 3 else x/3 + 5

print(lower_three2(2))

4

In [21]:
a1=13
a2=32

func5=lambda x : x**2 - 40*x + 350 if x>=10 and x<30 else 50

print(func5(a1))
print(func5(a2))

-1
50

In [8]:
# 분할할 문자열
test_sentence = 'this is a test sentence.'

#split()함수로 분할한다.
a=test_sentence.split(' ')
b=test_sentence.split(' ',2)

print(a)
print(b)

['this', 'is', 'a', 'test', 'sentence.']
['this', 'is', 'a test sentence.']

In [27]:
self_data = 'My name is Yeongeun'

#self_data를 분할해서 리스트를 작성한다.
word_list = self_data.split(" ")

print(word_list[3])

Yeongeun

In [28]:
import re

test_sentence = 'this,is a.test,sentence'
re.split('[,. ]',test_sentence)

['this', 'is', 'a', 'test', 'sentence']

In [29]:
import re

time_data = '2020/10/26_18:00'
time_list = re.split('[/_:]',time_data)
print(time_list[1],time_list[3])

10 18

In [30]:
a=[1,-2,3,-4,5]
new=[]
for x in a :
    new.append(abs(x))
print(new)

[1, 2, 3, 4, 5]

In [31]:
a=[1,-2,3,-4,5]
list(map(abs,a))

[1, 2, 3, 4, 5]

In [10]:
import re

time_list = [
    '2006/11/26_2:40',
    '2009/1/16_23:35',
    '2014/5/4_14:26',
    '2017/8/9_7:5',
    '2020/1/5_22:15'
]
get_hour=lambda x : re.split('[/_:]',x)[3]
hour_list = list(map(get_hour,time_list))
print(hour_list)

['2', '23', '14', '7', '22']

In [75]:
import re

# animals... '동물 : 평균무게, 평균수명'
animals=['rabbit:9,1.5',
         'fox:3.5,3.5',
         'elephant:70,3500',
         'dolphin:29,4500',
         'tiger:13,200',
         'giraffe:24,800',
         'wolf:6,40']
get_animal = lambda x : re.split('[:,]',x)[0]
animal_list=list(map(len,map(get_animal,animals)))

print(animal_list)

[6, 3, 8, 7, 5, 7, 4]

In [46]:
a=[1,-2,3,-4,5]
new=[]
for x in a :
    if x > 0 :
        new.append(x)
        
print(new)

[1, 3, 5]

In [47]:
a=[1,-2,3,-4,5]
print(list(filter(lambda x : x>0, a)))

[1, 3, 5]

In [49]:
import re

time_list = [
    '2006/11/26_2:40',
    '2009/1/16_23:35',
    '2014/5/4_14:26',
    '2017/8/9_7:5',
    '2020/1/5_22:15'
]

months_data = lambda x : int(re.split('[/_:]',x)[1]) - 7 < 0
months_list = list(filter(months_data,time_list))

print(months_list)

['2009/1/16_23:35', '2014/5/4_14:26', '2020/1/5_22:15']

In [11]:
import re

animals=['rabbit:9,1.5',
         'fox:3.5,3.5',
         'elephant:70,3500',
         'dolphin:29,4500',
         'tiger:13,200',
         'giraffe:24,800',
         'wolf:6,40']
get_animal = lambda x : len(re.split('[:,]',x)[0]) >= 5
animal_list=list(filter(get_animal,animals))

print(animal_list)

['rabbit:9,1.5', 'elephant:70,3500', 'dolphin:29,4500', 'tiger:13,200', 'giraffe:24,800']

In [50]:
nest_list = [
    [0,9],
    [1,8],
    [2,7],
    [3,6],
    [4,5]
]

print(sorted(nest_list,key=lambda x : x[1]))

[[4, 5], [3, 6], [2, 7], [1, 8], [0, 9]]

In [51]:
import re

time_list = [
    '2006/11/26_2:40',
    '2009/1/16_23:35',
    '2014/5/4_14:26',
    '2017/8/9_7:5',
    '2020/1/5_22:15'
]

sort_by_time = sorted(time_list,key = lambda x : int(re.split('[/_:]',x)[3]))
print(sort_by_time)

['2006/11/26_2:40', '2017/8/9_7:5', '2014/5/4_14:26', '2020/1/5_22:15', '2009/1/16_23:35']

In [76]:
#goods_list... 물품/가격
goods_list = [
    'banana/5600',
    'apple/3200',
    'pork/9200',
    'potato chip/1500',
    'coke/2200',
    'cabagge/3600'
]
get_price = lambda x : int(re.split('/',x)[1])
price_list = list(sorted(goods_list,key=get_price,reverse=1))
print(price_list)

['pork/9200', 'banana/5600', 'cabagge/3600', 'apple/3200', 'coke/2200', 'potato chip/1500']